{% extends 'base.html' %}
{% load static %}


{% block content %}

<!-- Datatables stuff -->


    <div class="w3-container w3-content w3-padding-32" style="max-width:800px">
      <h3 class="w3-wide w3-center">County/State Graphs</h3>
        <form method="post">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit">
        </form>
  </div>

  <!-- The Header Bio Section -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:90%" id="about_me">

    <div style="margin:20;padding:20;border:thin solid black;border-radius:8px" class="row">
        {% if graph1 %}
            <div class="column" style="width:99.9%;height:99">
            {{ graph1|safe }}
            </div>
        {% endif %}
        {% if graph2 %}
            <div class="column" style="width:99%;height:99%">
            {{ graph2|safe }}
            </div>
        {% endif %}
    </div>

     <div class="row">

    </div>

</div>


{% endblock %}